*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header{
    background-color:#01176f ;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90px;
}

header img{
    height: 75px;
    padding: 8px;
    filter: invert(1);
}

main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

footer{
    background-color: #01176f ;
    width: 100vw;
    height: 80px;
}

.caja{
    border: 3px solid black;
    filter: opacity(0.8);
    border-radius: 7px;
    min-width: 10vw;
    max-width: 20vw;
    min-height: 20vh;
    text-align: center;
}

.caja img {
    width: 8vw;
}

.caja:hover{
    filter: opacity(1);
    min-width: 11vw;
    min-height: 21vh;
}

a{
    text-decoration: none;
    color: black;
}
