*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

header{
    background-color:#01176f ;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 90px;
}

header img{
    height: 75px;
    padding: 8px;
    filter: invert(1);
}

main{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 50vw;
    background-color: white;
}

footer{
    background-color: #01176f ;
    width: 100vw;
    height: 80px;
}

.caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    filter: opacity(0.7) ;
    border-radius: 7px;
    min-width: 290px;
    max-width: 300x;
    min-height: 290px;
    max-height: 300px;
    text-align: center;
    margin: 20px 0;
    background: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_gray_bg.png);
}

.caja img {
    width: 240px;
}

.caja:hover{
    filter: opacity(1);
    min-width: 310px;
    min-height: 310px;
}

a{
    text-decoration: none;
    color: black;
}
