*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items:  center;
    background: url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    border: 3px solid black;
    max-width: 50vw;
    min-width: min-content;
}

.flex{
    display: flex;
    gap: 20px;

}

.stats{
    border: 3px solid rgb(207, 207, 207);
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(207, 207, 207);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 30px;
}

.descripcion{
    font-size: 25px;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    margin: 20px;
}

.carac{
    background-color: rgb(47, 175, 218);
    border-radius: 7px;
    min-width: 240px;
    margin: 20px;
}
.listado{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.pokemon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(199, 199, 199) ;
    border: 3px solid dimgray;
    grid-column: 1;
    grid-row: 1;
}

.pokemon img{
    width: 25vw;
    min-width: 350px;
}

ul{
    list-style: none;
}

.categoria{
    grid-column: 2;
    grid-row: 1;
}

.elemento{
    text-align: center;
    color: white;
    border-radius: 7px; 
    padding: 10px;
}

.hielo{
    background-color: blue;
}

.veneno{
    background-color:darkorchid;
}
.fuego{
    background-color: orange;
}
.psiquico{
    background-color: fuchsia;
}

.volador{
    background-color: rgb(47, 175, 218);
}

.planta{
    background-color: green;
}

@media (width<=1900px){
    .grid{
        grid-template-columns: 1fr 0;
        grid-template-rows: repeat(3,1fr);
    }
    .descripcion{
        grid-column: 1;
        grid-row: 2;
    }
    .stats{
        grid-column: 1;
        grid-row: 3;
    }
}